@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Londrina+Sketch&family=Noto+Sans+Thai:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
}