*:not(body, html, .versionWrapper *, audio, div, link, .devOptions *, .sbSection *),
.sbSection,
.controlsBg {
  animation-name: defaultAnim;
  animation-duration: 1.25s;
  animation-fill-mode: both;
}

* {
  color: white;
  user-select: none;
}

html,
body {
  background-color: #222;
  margin: 0;
  margin-bottom: 100px;
}

p {
  margin: 0;
}

button.song {
  background-color: rgb(46, 142, 61);
  box-shadow: 0 0 15px rgba(46, 142, 61, 25%);
  border: 1.9px solid #183b1de2;
}

button.sfx {
  background-color: rgb(34, 34, 204);
  box-shadow: 0 0 15px rgba(34, 34, 204, 25%);
  border: 1.9px solid #3333ccd1;
}

button.red {
  background-color: rgb(204, 34, 34);
  box-shadow: 0 0 15px rgba(204, 34, 34, 25%);
  border: 1.9px solid #cc4444d1;
}

.flashPlaying {
  animation: flashPlayingAnim 2s infinite forwards;
}

.versionWrapper {
  position: relative;
}

.version {
  display: inline-block;
  color: #ffffff;
  opacity: 0.6;
  margin-left: 15px;
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
  z-index: 999;
  transition: opacity 0.2s linear;
}

.version:active {
  opacity: 0.3;
}

.devOptions {
  display: block;
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  padding: 25px 55px;
  border: 1.5px solid #56565633;
  height: auto;
  width: 500px;
  transform: translate(-50%, -200%);
  backdrop-filter: blur(24px);
  background-color: #2e2e2e67;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 15%);
}

.devCloseIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #cc222215 !important;
  border: 1px solid #cc222266 !important;
  transition: background-color 0.2s ease !important;
}

.devCloseIcon:hover {
  background-color: #cc222277 !important;
}

table {
  border-collapse: separate;
  border-spacing: 40px 0;
}

.devOptions h1 {
  text-align: center;
}

.devSpeedDrop {
  background-color: #333;
  padding: 8px;
  border-radius: 5px;
  border: none;
  appearance: none;
  padding-right: none;
  width: 100px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s ease;
  border: 2px solid #56565633;
}

.devSpeedDrop::-ms-expand:hover {
  background: none;
}

.devSpeedDrop:focus {
  outline: none;
}

.devSpeedDrop:hover,
.devSpeedDrop:focus {
  background-color: #444;
}

.devPreservePitch {
  border: none;
  background-color: #333;
  box-shadow: none;
  width: 120px;
  transition: all 0.2s ease-in-out;
  /* appearance: none; */
}

.devPreservePitch.on {
  border: 1px solid #2e5e3e;
  background-color: #2e8e3d;
}

.devPreservePitch.off {
  border: 1px solid #cc2222;
  background-color: #cc222255;
}

.devPreservePitch:active {
  opacity: 0.85;
}

.soundboard {
  margin-top: 35px;
}

.soundboard .sbSection,
.controlsBg {
  display: inline-block;
  padding: 15px 45px;
  border: 1.5px solid #56565611;
  background-color: #2e2e2e67;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 15%);
}

.soundboard .sbSection {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 50px;
}

.soundboard .sbSection button {
  display: inline-block;
  color: #eee;
  margin: 18px;
}

.soundboard .sbSection h2 {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-size: 24px;
}

.title {
  text-align: center;
}

.stopAudio {
  width: 50%;
  /* margin-right: 10px; */
}

.controls {
  display: flex;

  justify-content: center;
  align-items: center;
  /* bottom: 0; */
  /* height: 50px; */
  gap: 10px;
  /* margin-top: 40px; */
  height: inherit;
}

.controlsBg {
  z-index: 999;
  position: fixed;
  text-align: center;
  width: 50%;
  left: 50%;
  height: 50px;
  width: 700px;
  margin-bottom: 15px;
  bottom: 0;
  backdrop-filter: blur(24px);
  transform: translateX(-50%) !important;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgb(255, 255, 255, 15%);
  overflow: hidden;
}

.fadeBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 50%, rgba(51, 51, 51) 100%)
}

.showControlsBtn {
  border: none;
  background-color: transparent;
  font-size: 18px;
}

.minimizeBtn {
  border: none;
  background-color: transparent;
}

@keyframes minimizeControlBg {
  0% {
    width: 700px;
    height: 50px;
  }

  60% {
    width: 140px;
    height: 20px;
  }

  100% {
    width: 150px;
    height: 25px;
  }
}

@keyframes minimizeControlBgReversed {
  0% {
    width: 150px;
    height: 25px;
  }

  60% {
    width: 750px;
    height: 55px;
  }

  100% {
    width: 700px;
    height: 50px;
  }
}

@keyframes minimizeControls {
  0% {
    display: none;
  }
}

@keyframes minimizeControlsReversed {
  0% {
    display: flex;
  }
}

/* .lock,
.stopAudio {
  transition: opacity 0.2s ease-in-out;
}

.lock:active,
.stopAudio:active {
  opacity: 0.85 !important;
} */

@keyframes slideDownAnimation {
  0% {
    transform: translate(-50%, -200%);
    opacity: 0;
    display: none;
  }

  30% {
    transform: translate(-50%, -30%);
    opacity: 1;
    display: fixed;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideDownAnimationReversed {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    display: fixed;
  }

  100% {
    transform: translate(-50%, -200%);
    opacity: 0;
    display: none;
  }
}

@keyframes flashPlayingAnim {
  0% {
    background-color: var(--flash-color);
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: var(--flash-color);
  }
}

@keyframes defaultAnim {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  30% {
    opacity: 1;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}