* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*:not(body, html, .versionWrapper *, audio, div, link) {
  animation-name: defaultAnim;
  animation-duration: 0.5s;
  color: white;
  animation-fill-mode: both;
}

.versionWrapper {
  position: relative;
}

.version {
  display: inline-block;
  color: #ffffff20;
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
}

.devOptions {
  margin-left: 25%;
}

.devOptions div * {
  display: inline;
  margin-top: 5px;
}

.devSpeedDrop {
  background-color: #333;
  margin-left: 25px;
  padding: 8px;
  border-radius: 5px;
}

.soundboard {
  margin-top: 75px;
}

.soundboard div {
  margin-top: 36px;
}

.soundboard div * {
  display: inline;
}

.soundboard div h2 {
  margin-left: 25%;
  margin-right: 20px;
  font-size: 30px;
}

button {
  border: none;
  padding: 12px 32px;
  border-radius: 6px;
  margin-left: 10px;
  transition: 0.13s;
  font-weight: 500;
  font-size: 18px;
}

button:not(:disabled):not(.versionBtn):hover {
  opacity: 0.8;
}

button:not(:disabled):active {
  background-color: #00000000;
}

html {
  background-color: #222;
}

.title {
  margin-top: 25px;
  text-align: center;
}

.stopAudio {
  margin: auto;
  width: 25%;
}

button.song {
  background-color: #070;
}

button.sfx {
  background-color: #009;
}

.red {
  background-color: red;
}

.controls {
  text-align: center;
  margin: 0 auto;
}

@keyframes defaultAnim {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
