*:not(body, html, .versionWrapper *, audio, div, link),
.sbSection {
  animation-name: defaultAnim;
  animation-duration: 0.5s;
  color: white;
  animation-fill-mode: both;
}

/* html,
body {
  margin: 0;
} */

html,
body {
  background-color: #222;
}

/* button {
  border: none;
  padding: 12px 32px;
  border-radius: 6px;
  margin-left: 10px;
  transition: 0.13s;
  font-weight: 500;
  font-size: 18px;
} */

/* button:not(:disabled, .versionBtn):hover {
  opacity: 0.8;
}

button:not(:disabled):active {
  background-color: #00000000;
} */

button.song {
  background-color: #2e8e3d;
}

button.sfx {
  background-color: #2222cc;
}

button.red {
  background-color: #cc2222;
}

.flashPlaying {
  animation: flashPlayingAnim 2s infinite forwards;
}

@keyframes flashPlayingAnim {
  0% {
    background-color: var(--flash-color);
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: var(--flash-color);
  }
}

.sbSection {
  display: inline-block;
  padding: 5px 45px;
  border: 1.8px solid #363636;
  background-color: #2e2e2e67;
  border-radius: 10px;
  margin-left: 18%;
  margin-right: 18%;
}

.versionWrapper {
  position: relative;
}

.version {
  display: inline-block;
  color: #ffffff;
  opacity: 0.6;
  margin-left: 15px;
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
}

.devOptions {
  display: none;
  /*    -->  display: block;    */

  padding: 5px 45px;
  border: 1.8px solid #363636;
  background-color: #2e2e2e67;
  border-radius: 10px;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 35px;
}

table {
  border-collapse: separate;
  border-spacing: 20px 0;
}

.devOptions h1 {
  text-align: center;
}

/* .devOptions div * {
  display: inline;
  margin-top: 5px;
} */

.devSpeedDrop {
  background-color: #333;
  padding: 8px;
  border-radius: 5px;
}

.soundboard {
  margin-top: 35px;
}

.soundboard .sbSection {
  margin-top: 50px;
}

.soundboard .sbSection button {
  display: inline-block;
  color: #eee;
  margin: 18px;
}

.soundboard .sbSection h2 {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-size: 30px;
}

.title {
  text-align: center;
}

.stopAudio {
  width: 25%;
  margin-right: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
  margin-top: 40px;
}

@keyframes defaultAnim {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}