*:not(body, html, .versionWrapper *, audio, div, link) {
  animation-name: defaultAnim;
  animation-duration: 0.5s;
  color: white;
  animation-fill-mode: both;
}

body {
  background-color: #222;
}

html,
body {
  margin: 0;
  height: 100%;
}

h1 {
  text-align: center;
}

.versionWrapper {
  position: relative;
}

.version {
  display: inline-block;
  color: #ffffff;
  opacity: 0.6;
  margin-left: 15px;
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
}

.passcode {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pass {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #333;
  font-size: 48px;
  width: 240px;
  transition: 0.2s;
  text-align: center;
}

.pass:hover {
  border-bottom: 3px solid #ffffff50;
}

.pass:focus {
  outline: none;
  border-bottom: 3px solid #89cff0;
}

.pass::-webkit-outer-spin-button,
.pass::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

@keyframes defaultAnim {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
